.containler
{
    width: 1024px;
    height: auto;
    background-color: #00ffff; 
    margin: auto;
    padding: 15px;
}

h1
{
    color: #9900ff !important;
    font-size: 50px !important;
    text-align: center !important;

}	

#msginput
{
    width: 80%;
    height: 100px;
}

#sendMsg, #msgtype
{
    width: 8%;
}

#chatwindow
{
    overflow: scroll;
}

.leftside
{
    background-color: #e600e6;
    width: 60%;
    height: auto;
    color: white;
    float: left;
    padding: 15px;
    margin: 10px;
    border-radius: 25px;
}

.rightside
{
   background-color: #ff4dc4;
   width: 60%;
   height: auto;
   color: white;
   float: right;
   padding: 15px;
   margin: 10px;
   border-radius: 25px;
}

.popup-overlay{
    /*Hides pop-up when there is no "active" class*/
    visibility:hidden;
    position:absolute;
    background:#ffffff;
    border:3px solid #666666;
    width:50%;
    height:50%;
    left:25%;
}
.popup-overlay.active{
    /*displays pop-up when "active" class is present*/
    visibility:visible;
    text-align:center;
}